.header-container {
    background-color: #f7f7f7;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

.header-container img {
    width: 140px;
}

.nav a {
    margin-left: 20px;
    color: #0E161A;
}

.nav a:hover {
    color: tomato;
}